Source: ros-melodic-gazebo-video-monitor-msgs
Section: misc
Priority: optional
Maintainer: Nick Lamprianidis <nlamprian@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-message-generation
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-gazebo-video-monitor-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-message-runtime, ros-melodic-std-srvs
Description: gazebo_video_monitor_msgs defines interfaces for the gazebo_video_monitor_plugins package.
